{% extends 'index.html' %}

{% block content %}


<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Sandbox Demonstrator</title>
    <!-- <link rel="stylesheet" href="/static/style1.css"> -->
    <link rel="stylesheet" href="/style.css">
</head>


<body>
    <div class="header">
        <h1>Controllers checklist</h1>
    </div>
    <hr>

    <h2>Step 1 of 4: Lawfulness, fairness and transparency</h2>
    <!-- Form with radio buttons -->
    <form action="/evaluate" method="post">

        <h2>1.1 Information you hold</h2>

        <h3>Your business has conducted an information audit to map data flows.<br></h3>
        <input type="radio" id="option1_1" name="group1" value="option1_1" {{ 'checked' if option1 == 'option1_1' else '' }}>
        <label for="option1_1">Not yet implemented or planned</label><br>

        <input type="radio" id="option1_2" name="group1" value="option1_2" {{ 'checked' if option1 == 'option1_2' else '' }}>
        <label for="option1_2">Partially implemented or planned</label><br>

        <input type="radio" id="option1_3" name="group1" value="option1_3" {{ 'checked' if option1 == 'option1_3' else '' }}>
        <label for="option1_3">Successfully implemented</label><br>

        <input type="radio" id="option1_4" name="group1" value="option1_4" {{ 'checked' if option1 == 'option1_3' else '' }}>
        <label for="option1_4">Not applicable</label><br>
        <br>


        <h3>Your business has documented what personal data you hold, where it came from, who you share it with and what you do with it.</h3>
        <input type="radio" id="option2_1" name="group2" value="option2_1" {{ 'checked' if option2 == 'option2_1' else '' }}>
        <label for="option2_1">Not yet implemented or planned</label><br>

        <input type="radio" id="option2_2" name="group2" value="option2_2" {{ 'checked' if option2 == 'option2_2' else '' }}>
        <label for="option2_2">Partially implemented or planned</label><br>

        <input type="radio" id="option2_3" name="group2" value="option2_3" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option2_3">Successfully implemented</label><br>

        <input type="radio" id="option2_4" name="group2" value="option2_4" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option2_4">Not applicable</label><br>
        <br>


        <h2>1.2 Lawful basis for processing personal data</h2>

        <h3>Your business has identified your lawful bases for processing and documented them.</h3>
        <input type="radio" id="option3_1" name="group3" value="option3_1" {{ 'checked' if option2 == 'option2_1' else '' }}>
        <label for="option3_1">Not yet implemented or planned</label><br>

        <input type="radio" id="option3_2" name="group3" value="option3_2" {{ 'checked' if option2 == 'option2_2' else '' }}>
        <label for="option3_2">Partially implemented or planned</label><br>

        <input type="radio" id="option3_3" name="group3" value="option3_3" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option3_3">Successfully implemented</label><br>

        <input type="radio" id="option3_4" name="group3" value="option3_4" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option3_4">Not applicable</label><br>
        <br>


        <h2>1.3 Consent</h2>

        <h3>Your business has reviewed how you ask for and record consent.</h3>
        <input type="radio" id="option4_1" name="group4" value="option4_1" {{ 'checked' if option2 == 'option2_1' else '' }}>
        <label for="option4_1">Not yet implemented or planned</label><br>

        <input type="radio" id="option4_2" name="group4" value="option4_2" {{ 'checked' if option2 == 'option2_2' else '' }}>
        <label for="option4_2">Partially implemented or planned</label><br>

        <input type="radio" id="option4_3" name="group4" value="option4_3" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option4_3">Successfully implemented</label><br>

        <input type="radio" id="option4_4" name="group4" value="option4_4" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option4_4">Not applicable</label><br>
        <br>


        <h3>Your business has systems to record and manage ongoing consent.</h3>
        <input type="radio" id="option5_1" name="group5" value="option5_1" {{ 'checked' if option2 == 'option2_1' else '' }}>
        <label for="option5_1">Not yet implemented or planned</label><br>

        <input type="radio" id="option5_2" name="group5" value="option5_2" {{ 'checked' if option2 == 'option2_2' else '' }}>
        <label for="option5_2">Partially implemented or planned</label><br>

        <input type="radio" id="option5_3" name="group5" value="option5_3" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option5_3">Successfully implemented</label><br>

        <input type="radio" id="option5_4" name="group5" value="option5_4" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option5_4">Not applicable</label><br>
        <br>


        <h2>1.4 Consent to process children’s personal data for online services</h2>

        <h3>If your business relies on consent to offer online services directly to children, you have systems in place to manage it.</h3>
        <input type="radio" id="option6_1" name="group6" value="option6_1" {{ 'checked' if option2 == 'option2_1' else '' }}>
        <label for="option6_1">Not yet implemented or planned</label><br>

        <input type="radio" id="option6_2" name="group6" value="option6_2" {{ 'checked' if option2 == 'option2_2' else '' }}>
        <label for="option6_2">Partially implemented or planned</label><br>

        <input type="radio" id="option6_3" name="group6" value="option6_3" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option6_3">Successfully implemented</label><br>

        <input type="radio" id="option6_4" name="group6" value="option6_4" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option6_4">Not applicable</label><br>
        <br>

        <h2>1.5 Vital interests</h2>

        <h3>If you may be required to process data to protect the vital interests of an individual, your business has clearly documented the circumstances where it will be relevant. Your business documents your justification for relying on this basis and informs individuals where necessary.</h3>
        <input type="radio" id="option7_1" name="group7" value="option7_1" {{ 'checked' if option2 == 'option2_1' else '' }}>
        <label for="option7_1">Not yet implemented or planned</label><br>

        <input type="radio" id="option7_2" name="group7" value="option7_2" {{ 'checked' if option2 == 'option2_2' else '' }}>
        <label for="option7_2">Partially implemented or planned</label><br>

        <input type="radio" id="option7_3" name="group7" value="option7_3" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option7_3">Successfully implemented</label><br>

        <input type="radio" id="option7_4" name="group7" value="option7_4" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option7_4">Not applicable</label><br>
        <br>


        <h2>1.6 Legitimate interests</h2>

        <h3>If you are relying on legitimate interests as the lawful basis for processing, your business has applied the three part test and can demonstrate you have fully considered and protected individual’s rights and interests.</h3>
        <input type="radio" id="option8_1" name="group8" value="option8_1" {{ 'checked' if option2 == 'option2_1' else '' }}>
        <label for="option8_1">Not yet implemented or planned</label><br>

        <input type="radio" id="option8_2" name="group8" value="option8_2" {{ 'checked' if option2 == 'option2_2' else '' }}>
        <label for="option8_2">Partially implemented or planned</label><br>

        <input type="radio" id="option8_3" name="group8" value="option8_3" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option8_3">Successfully implemented</label><br>

        <input type="radio" id="option8_4" name="group8" value="option8_4" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option8_4">Not applicable</label><br>
        <br>


        <h2>1.7 Data Protection Fee</h2>

        <h3>Your business is currently registered with the Information Commissioner's Office.</h3>
        <input type="radio" id="option9_1" name="group9" value="option9_1" {{ 'checked' if option2 == 'option2_1' else '' }}>
        <label for="option4_1">Not yet implemented or planned</label><br>

        <input type="radio" id="option9_2" name="group9" value="option9_2" {{ 'checked' if option2 == 'option2_2' else '' }}>
        <label for="option4_2">Partially implemented or planned</label><br>

        <input type="radio" id="option9_3" name="group9" value="option9_3" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option4_3">Successfully implemented</label><br>

        <input type="radio" id="option9_4" name="group9" value="option9_4" {{ 'checked' if option2 == 'option2_3' else '' }}>
        <label for="option4_4">Not applicable</label><br>
        <br>


        <!-- Submit button -->
        <br><br>
        <button type="submit">Submit</button>
    </form>

    <!-- Result label -->
    <h2 id="result-label">{{ result if result else "" }}</h2>
</body>
</html>

{% endblock %}